<?php
/**
 * IAGC Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://iagc.com/IAGC-Commerce-License.txt
 *
 * =================================================================
 *
 * MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * IAGC Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * IAGC Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   IAGC
 * @package    IAGC_ProductLabel
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 IAGC Commerce Co. ( http://iagc.com )
 * @license    http://iagc.com/IAGC-Commerce-License.txt
 */
?>
<div id="outofstock-position" style="display: none"><?php echo $block->getOutOfStockPosition();?></div>
<div id="newproduct-position" style="display: none"><?php echo $block->getNewProductPosition();?></div>
<div id="saleproduct-position" style="display: none"><?php echo $block->getSaleProductPosition();?></div>

<div id="skin-type-normal-position" style="display: none"><?php echo $block->getSkinTypeNormalProductPosition();?></div>
<div id="skin-type-dry-position" style="display: none"><?php echo $block->getSkinTypeDryProductPosition();?></div>
<div id="skin-type-oily-position" style="display: none"><?php echo $block->getSkinTypeOilyProductPosition();?></div>
<div id="skin-type-combination-position" style="display: none"><?php echo $block->getSkinTypeCombinationProductPosition();?></div>
<div id="skin-type-sensitive-position" style="display: none"><?php echo $block->getSkinTypeSensitiveProductPosition();?></div>
<div id="skin-type-aged-position" style="display: none"><?php echo $block->getSkinTypeAgedProductPosition();?></div>
<div id="skin-type-acne-prone-position" style="display: none"><?php echo $block->getSkinTypeAcneProneProductPosition();?></div>

<script type="text/x-magento-init">
    {
        "*": {
            "IAGC_ProductLabel/js/product":{}
        }
    }
</script>
